//Calendar colors
$primary: rgb(69, 137, 214);


ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar__body{
  text-align: center;
}
.calendar__main-content {
  display: flex;
  align-content: center;
  margin: auto;
  width: 100%;
  padding: 10px;
  overflow-x: auto;
  text-align: center;
}

.calendar__month_year {
  border: 2px solid $primary;
  text-align: center;
  margin: auto;
  font-size: 48px;
  font-weight: bold;
  width: 80%;
}
.calendar__week-days {
  text-align: center;
  padding: 10px;
  background-color: $primary;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 13vw;
}
.calendar__day {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 200px;
  width: 13vw;
  overflow-y: auto;
}
.calendar__active-day {
  font-size: 22px;
  font-weight: bold;
}
.calendar__inactive-day {
  font-size: 22px;
  color: gray;
}

.calendar__add-reminder {
  float: right;
  transition: color 0.3s ease;
  &:hover {
    color: darken($color: white, $amount: 100);
  }
}

.calendar__form {
  flex-direction: row;
  align-content: center;
}
.calendar__input {
  width: 250px;
  color: gray;
  border: 0px;
  margin: 10px;
  border-bottom: 1px solid black;
  font-size: 16px;
  margin-bottom: 10px;
  height: 20px;
  transition: border-bottom 0.3s ease;
  &:focus {
    outline: none;
    border-bottom: 1px solid $primary;
  }
}
