.reminder__body {
  text-align: center;
  background-color: lighten($color: $primary, $amount: 25);
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}
.reminder__body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  border-bottom: 1px solid black;
  border-bottom: 25px solid lighten($color: $primary, $amount: 1);
  border-right: 25px solid white;
}
.reminder__input {
  width: 90%;
  color: gray;
  border: 0px;
  margin: 10px;
  border-bottom: 1px solid black;
  font-size: 16px;
  margin-bottom: 10px;
  height: 20px;
  transition: border-bottom 0.3s ease;
  &:focus {
    outline: none;
    border-bottom: 1px solid $primary;
  }
}
.reminder__input-hour {
  color: gray;
  border: 0px;
  margin: 10px;
  border-bottom: 1px solid black;
  font-size: 16px;
  margin-bottom: 10px;
  height: 20px;
  transition: border-bottom 0.3s ease;
  &:focus {
    outline: none;
    border-bottom: 1px solid $primary;
  }
}
